<html>
<body>
<h3> 您好 $!{realname}, 欢迎注册政务服务中心绩效管理系统！</h3>
<div>
当您收到此邮件的时候，您已经可以正常登陆了。<br/>
用户名：<b>${username}</b>,密码：<b>${password}</b><br/>
请点击链接登陆系统：${url}<br/>
如果您的email程序不支持链接点击，请将上面的链接地址拷贝到您的浏览器地址栏中打开链接。
<br/>



-----------------------------------<br/>
(本条信息是系统自动发送，请勿回复！)

</div>
</body>
</html>